.wrapper {
    position: relative;
    width: 100%;
}

.selected {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    font-size: 16px;
    color: #111;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    pointer-events: none;
}

.dropdown {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
}

.option {
    padding: 12px;
    font-size: 16px;
    color: #111;
    cursor: pointer;
    background-color: #fff;
}

.option:hover {
    background-color: #e6e6e6;
}
