.wrapper {
    position: relative;
    width: 100%;
}

.selected {
    padding: 7px 12px;
    border-radius: 30px;
    height: 50px;
    font-size: 16px;
    color: #111;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-mask-image: url("/images/repeat-white.png");
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: contain;
    mask-image: url("/images/repeat-white.png");
    mask-repeat: repeat;
    mask-size: contain;
    background: rgba(0, 0, 0, .2);
}

.arrow {
    pointer-events: none;
}

.dropdown {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
}

.option {
    padding: 7px;
    font-size: 16px;
    color: #111;
    cursor: pointer;
    background-color: #fff;
}

.option:hover {
    background-color: #e6e6e6;
}
