.container {
    font-family: "Bloc";
    position: relative;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.descr1 {
    width: 100%;
    color: white;
    word-break: break-all;
    display: flex;
    gap: 10px;
}
