.container {
    font-family: "Bloc";
    position: relative;
    width: 100vw;
    padding: 150px 150px 150px 120px;
    height: 100dvh;
    padding-bottom: calc(190px + env(safe-area-inset-bottom)) !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.descr1 {
    width: 100%;
    color: #787878;
    word-break: break-all;
}

.descr2 {
    color: #FFFFFF;
    word-break: break-all;
}

.descr3 {
    color: rgb(211, 47, 47);
    word-break: break-all;
}

@media (max-width: 1440px) {
    .container {
        padding: 92px 150px 150px 120px;
    }
}

@media (max-width: 1150px) {
    .container {
        padding: 150px 140px 30px 120px;
        padding-bottom: calc(130px + env(safe-area-inset-bottom)) !important;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 100px 69px 30px 69px;
    }
}

@media (max-width: 440px) {
    .container {
        padding: 200px 69px 30px 69px;
        padding-bottom: calc(90px + env(safe-area-inset-bottom)) !important;
    }
}