.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  height: 35px;
}

.input:focus {
  border-color: #63C5AB;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #000;
}

.checkboxLabel input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: rgba(0, 0, 0, .2);
}

.label,
label {
  color: #000;
  font-size: 16px;
}

.button {
  -webkit-mask-image: url("/images/repeat-white.png");
  -webkit-mask-repeat: repeat;
  -webkit-mask-size: contain;
  mask-image: url("/images/repeat-white.png");
  mask-repeat: repeat;
  mask-size: contain;
}

.helpText {
  font-size: 12px;
  color: #d7bb3b;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px dotted #d7bb3b;
  padding: 5px;
}

