.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 4000;
}

.drawer {
	position: fixed;
	top: 0;
	right: 0;
	width: 420px;
	height: 100vh;
	background: #fff;
	box-shadow: -4px 0 20px rgba(0, 0, 0, 0.2);
	z-index: 4100;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.title {
    font-size: 28px;
    color: black;
}

.headerActions {
    display: flex;
    gap: 10px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.content {
	flex: 1;
	overflow-y: auto;
    overflow-x: hidden;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fields label {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 14px;
}

.colorPickerWrapper {
    position: relative;
    width: 20%;
    height: 100%;
    display: inline-block;
}

.colorInput {
    opacity: 0;
    position: absolute;
    inset: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
}

.colorPreview {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1;
    border: 2px solid black;
    -webkit-mask-image: url("/images/repeat-white.png");
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: contain;
    mask-image: url("/images/repeat-white.png");
    mask-repeat: repeat;
    mask-size: contain;
}

.btnsWrap {
    margin-top: 32px;
    display: flex;
    width: 100%;
    gap: 10px;
}

.animationBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.toggleButtons {
    display: flex;
    gap: 5px;
}

.labelHeader {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.labelHeader p {
    color: black;
}

.labelRow {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
}

.delimiter {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.iconPopupOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.iconPopup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.iconGrid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    overflow-y: auto;
    height: 200px;
}

.iconItem {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 24px;
    -webkit-mask-image: url("/images/repeat-white.png");
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: contain;
    mask-image: url("/images/repeat-white.png");
    mask-repeat: repeat;
    mask-size: contain;
    background: rgba(0, 0, 0, .2);
}

.customFileLabel {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    width: 200px;
    color: #333;
}

.customFileWrapper {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 500;
    transition: background 0.3s ease;
    -webkit-mask-image: url("/images/repeat-white.png");
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: contain;
    mask-image: url("/images/repeat-white.png");
    mask-repeat: repeat;
    mask-size: contain;
    background: rgba(0, 0, 0, .2);
}

.customFileWrapper:hover {
    background-color: #f87575;
}

.customFileInput {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

@media (max-width: 440px) {
    .drawer {
        width: 100%;
    }
}

