@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Bloc';
  src: url('./assets/fonts/blocextcond.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CirceRounded';
  src: url('./assets/fonts/CirceRounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Bloc', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #eee;
}

#root {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

button,
input {
  font-family: "Bloc";
}

.texturedType {
  background: url("/images/repeat-white.png") center center repeat;
  background-size: 80px 60px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: scratchy 0.253s linear forwards infinite;
  -moz-animation: scratchy 0.253s linear forwards infinite;
  animation: scratchy 0.253s linear forwards infinite;
}

.texturedType2 {
  background: url("/images/green-texture.png") center center repeat;
  background-size: 80px 60px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: scratchy 0.253s linear forwards infinite;
  -moz-animation: scratchy 0.253s linear forwards infinite;
  animation: scratchy 0.253s linear forwards infinite;
}

.title-l {
  font-size: 6rem;
  position: absolute;
}

.title-lPreview {
  font-size: 4rem;
  position: absolute;
}

.descr-l {
  font-size: 1.5rem;
  line-height: 3rem;
}

.descr-lPreview {
  font-size: 1rem !important;
  line-height: 1.2rem !important;
}

.regularBtn {
  position: relative !important;
}

.backButton {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.input {
  padding: 12px;
  border-radius: 30px;
  max-height: 50px;
  border: 2px solid transparent;
  font-size: 16px;
  outline: none;
  -webkit-mask-image: url("/images/repeat-white.png");
  -webkit-mask-repeat: repeat;
  -webkit-mask-size: contain;
  mask-image: url("/images/repeat-white.png");
  mask-repeat: repeat;
  mask-size: contain;
  background: rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
  transition: border 0.3s;
}

.input::placeholder {
  color: #000;
}

.input:focus {
  border: 2px solid #000;
}

.button {
  background: #63C5AB;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
  touch-action: manipulation; 
  pointer-events: auto;
}

.button:disabled {
  background-color: rgba(99, 197, 171, .5);
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background: rgba(99, 197, 171, .5);
  color: white;
}

.buttonLight {
  color: #63C5AB;
  background: transparent;
  padding: 12px;
  border: none;
  border: 2px solid #63C5AB;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
  touch-action: manipulation; 
  pointer-events: auto;
}

.buttonLight:disabled {
  background: rgba(99, 197, 171, .5);
  cursor: not-allowed;
}

.buttonLight:hover:not(:disabled) {
  background: rgba(99, 197, 171, .5);
  color: white;
}

@keyframes scratchy {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 0 0;
  }
  26% {
    background-position: 20px -20px;
  }
  50% {
    background-position: 20px -20px;
  }
  51% {
    background-position: 40px -40px;
  }
  75% {
    background-position: 40px -40px;
  }
  76% {
    background-position: 60px -60px;
  }
  99% {
    background-position: 60px -60px;
  }
  100% {
    background-position: 0 0;
  }
}

.title-top-left {
  left: 30px;
  top: 30px;
}

.title-top-center {
  width: 100%;
  text-align: center;
  left: 0;
  top: 30px;
}

.title-top-right {
  right: 30px;
  top: 30px;
}

.title-bottom-left {
  left: 30px;
  bottom: 30px;
}

.title-bottom-right {
  right: 30px;
  bottom: 30px;
}

.title-bottom-center {
  width: 100%;
  left: 0;
  text-align: center;
  bottom: 30px;
}

.text-container {
  position: absolute;
}

.scrollable {
  height: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;      
  -ms-overflow-style: none; 
  padding: 12px;
  border: 4px dotted white;
  border-radius: 10px;
  white-space: normal; 
  word-break: break-word;
}

.scrollable::-webkit-scrollbar {
  display: none;              
}

@media (max-width: 1440px) {
  .descr-l {
    line-height: 2.3rem;
  }
}

@media (max-width: 1280px) {
  .title-l {
    font-size: 5.5rem;
  }

  .descr-l {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .title-l {
    font-size: 4rem;
  }

  .descr-l {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 440px) {
  .title-l {
    font-size: 2.5rem;
  }

  .descr-l {
    font-size: .8rem;
    line-height: 1.2rem;
  }
}
