.container {
    position: absolute;
    z-index: 3000;
    width: 50px;
    height: 150px;
    left: 30px;
    top: calc(50% - 75px);
}

.containerPreview {
    position: absolute;
    z-index: 3000;
    width: 50px;
    height: 100px;
    left: 20px;
    top: calc(50% - 50px);
}

.icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconPreview {
    width: 27px;
    height: 27px;
}

.icon2 {
    width: 30px;
    height: 30px;
}

.icon2Preview {
    width: 22px;
    height: 22px;
}

.soundIconWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.line {
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    transform: rotate(-50deg);
    will-change: opacity, scale;
    opacity: 0;
}

.square {
    width: 25px;
    height: 25px;
    border: 3.5px solid white;
    border-radius: 3px;
}

.squarePreview {
    width: 18px;
    height: 18px;
    border: 3.5px solid white;
    border-width: 3px;
}

@media (max-width: 768px) {
    .icon {
        width: 27px;
        height: 27px;
    }

    .icon2 {
        width: 22px;
        height: 22px;
    }

    .container {
        width: 50px;
        height: 100px;
        left: 20px;
        top: calc(50% - 50px);
    }

    .square {
        width: 18px;
        height: 18px;
        border-width: 3px;
    }
}
