.loginPage {
    min-height: 100vh;
    background: rgba(99, 197, 171, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    width: 100%;
}

.loginWrapper {
    background-color: #ffffff;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 16px;
    color: #000;
}

.error {
    color: #F4696B;
    font-size: 14px;
    text-align: center;
}

.switchAuth {
    text-align: center;
    font-size: 14px;
    color: #000;
}

.switchAuth a {
    color: #63C5AB;
    text-decoration: none;
    cursor: pointer;
}

.switchAuth a:hover {
    text-decoration: underline;
}
